<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Password Reset</h3>
    <form name="sentMessage" id="contactForm" novalidate method="POST">
        <fieldset class="form-group">
        {% csrf_token %}
        {{form}}
        </fieldset>
        <br>
        <div id="success"></div>
        <button type="submit" class="btn btn-primary" id="sendMessageButton">Request Password Reset</button>
      </form>
</body>
</html>