{% load crispy_forms_tags %}
<div>
    <!-- The Modal -->
    <div class="modal fade" id="addAccountModal" role="dialog">
        <form method="POST" id="addAccount-form">
            {% csrf_token %}
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add account</h4>
                        <button type="button" class="close " data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        {{create_account_form|crispy}}
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" id="contactSubmit" class="btn btn-outline-success">Send</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>